:root{
  background-color: #002b36;
  color: white;
  overflow-y: hidden;
}

.clock {
  font-size: 15vh;
  transition: all 1s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}
.calendar_reduced{
  display: none;
}


.clock_expanded {
  font-size: 70vh;
  margin: auto;
}

.calendar-container{
  transition: all 1s ease-in-out;
  width: 50%;
  height: 95vh;
}

.division{
  display: flex;
}

.scenes {
  display: flex;
  width: 100vw;
  /* Twice the viewport width to accommodate two scenes */
  transition: transform 0.5s ease;
  user-select: none
  /* Smooth transition */
}

.scene {
  flex: 1;
  width: 100vw;
  height: 100vh;
  text-align: center;
  transition: transform 0.5s ease;
}
